{
  "openapi": "3.1.0",
  "info": {
    "title": "ActivityInfo API",
    "version": "1.0.0",
    "description": "OpenAPI schema generated from AIS CLI api folder"
  },
  "servers": [
    {
      "url": "https://www.activityinfo.org/resources/"
    }
  ],
  "paths": {
    "/databases": {
      "post": {
        "operationId": "add_database_post",
        "summary": "Create a new database.",
        "description": "Create a new database.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDatabaseDTO"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_user_databases_get",
        "summary": "List all databases the authenticated user has access to.",
        "description": "List all databases the authenticated user has access to.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Database"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/databases/translations/{database_id}/form/{form_id}/{language_code}": {
      "post": {
        "operationId": "update_form_translations_post",
        "summary": "Apply new translations to a specific form and its fields.",
        "description": "Apply new translations to a specific form and its fields.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "database_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDatabaseTranslationsDTO"
              }
            }
          }
        }
      }
    },
    "/databases/{database_id}": {
      "get": {
        "operationId": "get_database_tree_get",
        "summary": "Fetch the full hierarchical tree structure of a database.",
        "description": "Fetch the full hierarchical tree structure of a database.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseTree"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "database_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "update_database_post",
        "summary": "Modify database-level settings (e.g., enabled languages).",
        "description": "Modify database-level settings (e.g., enabled languages).",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "database_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDatabaseDTO"
              }
            }
          }
        }
      }
    },
    "/databases/{database_id}/dictionary/database/{language_code}": {
      "get": {
        "operationId": "get_database_translations_get",
        "summary": "Fetch all database-level translations for a specific language.",
        "description": "Fetch all database-level translations for a specific language.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatabaseTranslations"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "database_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/databases/{database_id}/dictionary/form/{form_id}/{language_code}": {
      "get": {
        "operationId": "get_form_translations_get",
        "summary": "Retrieve all translated labels for a specific form and its fields.",
        "description": "Retrieve all translated labels for a specific form and its fields.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "database_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/databases/{database_id}/forms": {
      "post": {
        "operationId": "add_form_post",
        "summary": "Add a new form to a specific database.",
        "description": "Add a new form to a specific database.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "database_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddFormDTO"
              }
            }
          }
        }
      }
    },
    "/databases/{database_id}/translations/{language_code}": {
      "post": {
        "operationId": "update_database_translations_post",
        "summary": "Update global translations for a specific database.",
        "description": "Update global translations for a specific database.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "database_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDatabaseTranslationsDTO"
              }
            }
          }
        }
      }
    },
    "/databases/{database_id}/users": {
      "post": {
        "operationId": "add_database_user_post",
        "summary": "Invite or add a new user to a database with a specific role.",
        "description": "Invite or add a new user to a database with a specific role.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "database_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDatabaseUserDTO"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_database_users_get",
        "summary": "List all users who have access to the specified database.",
        "description": "List all users who have access to the specified database.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "database_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/databases/{database_id}/users/preflight": {
      "post": {
        "operationId": "user_preflight_post",
        "summary": "Check the status of a user's email before adding them to a database.",
        "description": "Check the status of a user's email before adding them to a database.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPreflightResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "database_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPreflightDTO"
              }
            }
          }
        }
      }
    },
    "/databases/{database_id}/users/{user_id}": {
      "delete": {
        "operationId": "delete_database_user_delete",
        "summary": "Remove a user's access to a specific database.",
        "description": "Remove a user's access to a specific database.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "database_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/databases/{database_id}/users/{user_id}/role": {
      "post": {
        "operationId": "update_database_user_role_post",
        "summary": "Modify the assigned role for an existing database user.",
        "description": "Modify the assigned role for an existing database user.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "database_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDatabaseUserRoleDTO"
              }
            }
          }
        }
      }
    },
    "/form/{form_id}/query": {
      "get": {
        "operationId": "get_form_get",
        "summary": "Query and retrieve all records for a specific form.",
        "description": "Query and retrieve all records for a specific form.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/form/{form_id}/schema": {
      "get": {
        "operationId": "get_form_schema_get",
        "summary": "Retrieve the design/schema (fields, types, formulas) for a specific form.",
        "description": "Retrieve the design/schema (fields, types, formulas) for a specific form.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormSchema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "update_form_schema_post",
        "summary": "Push a modified schema back to the server to update a form's design.",
        "description": "Push a modified schema back to the server to update a form's design.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormSchema"
              }
            }
          }
        }
      }
    },
    "/form/{form_id}/tree": {
      "get": {
        "operationId": "get_form_tree_get",
        "summary": "Fetch the form and all its related forms (references).",
        "description": "Fetch the form and all its related forms (references).",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormTree"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/update": {
      "post": {
        "operationId": "update_form_records_post",
        "summary": "Bulk create, update, or delete records across one or more forms.",
        "description": "Bulk create, update, or delete records across one or more forms.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {}
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFormRecordsDTO"
              }
            }
          }
        }
      }
    },
    "/query/rows": {
      "post": {
        "operationId": "query_rows_post",
        "summary": "Query form rows with formulas, filters, and sorting.",
        "description": "Queries records as rows using column expressions, optional filter formula, filter sets, and sorting.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRowsRequest"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AddDatabaseDTO": {
        "properties": {
          "id": {
            "title": "Id",
            "type": "string"
          },
          "label": {
            "title": "Label",
            "type": "string"
          },
          "description": {
            "title": "Description",
            "type": "string"
          },
          "templateId": {
            "title": "Templateid",
            "type": "string"
          }
        },
        "required": [
          "id",
          "label",
          "description",
          "templateId"
        ],
        "title": "AddDatabaseDTO",
        "type": "object"
      },
      "AddDatabaseUserDTO": {
        "properties": {
          "email": {
            "title": "Email",
            "type": "string"
          },
          "name": {
            "title": "Name",
            "type": "string"
          },
          "locale": {
            "title": "Locale",
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/DatabaseRole"
          },
          "grants": {
            "items": {},
            "title": "Grants",
            "type": "array"
          }
        },
        "required": [
          "email",
          "name",
          "locale",
          "role"
        ],
        "title": "AddDatabaseUserDTO",
        "type": "object"
      },
      "AddFormDTO": {
        "properties": {
          "formResource": {
            "$ref": "#/components/schemas/FormResource"
          },
          "formClass": {
            "$ref": "#/components/schemas/FormClass"
          }
        },
        "required": [
          "formResource",
          "formClass"
        ],
        "title": "AddFormDTO",
        "type": "object"
      },
      "Database": {
        "properties": {
          "databaseId": {
            "title": "Databaseid",
            "type": "string"
          },
          "label": {
            "title": "Label",
            "type": "string"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Description"
          }
        },
        "required": [
          "databaseId",
          "label"
        ],
        "title": "Database",
        "type": "object"
      },
      "DatabaseRole": {
        "properties": {
          "id": {
            "title": "Id",
            "type": "string"
          },
          "parameters": {
            "additionalProperties": true,
            "default": {},
            "title": "Parameters",
            "type": "object"
          },
          "resources": {
            "default": [],
            "items": {},
            "title": "Resources",
            "type": "array"
          }
        },
        "required": [
          "id"
        ],
        "title": "DatabaseRole",
        "type": "object"
      },
      "DatabaseTranslation": {
        "properties": {
          "id": {
            "title": "Id",
            "type": "string"
          },
          "original": {
            "title": "Original",
            "type": "string"
          },
          "translated": {
            "title": "Translated",
            "type": "string"
          },
          "autoTranslated": {
            "title": "Autotranslated",
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "original",
          "translated",
          "autoTranslated"
        ],
        "title": "DatabaseTranslation",
        "type": "object"
      },
      "DatabaseTranslations": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/DatabaseTranslationsID"
          },
          "version": {
            "title": "Version",
            "type": "integer"
          },
          "language": {
            "title": "Language",
            "type": "string"
          },
          "translatedStrings": {
            "items": {
              "$ref": "#/components/schemas/DatabaseTranslation"
            },
            "title": "Translatedstrings",
            "type": "array"
          }
        },
        "required": [
          "id",
          "version",
          "language",
          "translatedStrings"
        ],
        "title": "DatabaseTranslations",
        "type": "object"
      },
      "DatabaseTranslationsID": {
        "properties": {
          "databaseId": {
            "title": "Databaseid",
            "type": "string"
          },
          "dictionaryId": {
            "title": "Dictionaryid",
            "type": "string"
          }
        },
        "required": [
          "databaseId",
          "dictionaryId"
        ],
        "title": "DatabaseTranslationsID",
        "type": "object"
      },
      "DatabaseTree": {
        "properties": {
          "databaseId": {
            "title": "Databaseid",
            "type": "string"
          },
          "userId": {
            "title": "Userid",
            "type": "string"
          },
          "version": {
            "title": "Version",
            "type": "string"
          },
          "label": {
            "title": "Label",
            "type": "string"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Description"
          },
          "ownerRef": {
            "$ref": "#/components/schemas/OwnerRef"
          },
          "language": {
            "title": "Language",
            "type": "string"
          },
          "originalLanguage": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Originallanguage"
          },
          "languages": {
            "default": [],
            "items": {
              "type": "string"
            },
            "title": "Languages",
            "type": "array"
          },
          "role": {
            "$ref": "#/components/schemas/DatabaseRole"
          },
          "suspended": {
            "title": "Suspended",
            "type": "boolean"
          },
          "billingPlan": {
            "type": "string",
            "title": "Billingplan"
          },
          "storage": {
            "title": "Storage",
            "type": "string"
          },
          "publishedTemplate": {
            "title": "Publishedtemplate",
            "type": "boolean"
          },
          "resources": {
            "items": {
              "$ref": "#/components/schemas/Resource"
            },
            "title": "Resources",
            "type": "array"
          },
          "grants": {
            "items": {
              "$ref": "#/components/schemas/Grant"
            },
            "title": "Grants",
            "type": "array"
          },
          "locks": {
            "default": [],
            "items": {},
            "title": "Locks",
            "type": "array"
          },
          "roles": {
            "items": {
              "$ref": "#/components/schemas/Role"
            },
            "title": "Roles",
            "type": "array"
          },
          "securityCategories": {
            "items": {
              "additionalProperties": {
                "type": "string"
              },
              "type": "object"
            },
            "title": "Securitycategories",
            "type": "array"
          }
        },
        "required": [
          "databaseId",
          "userId",
          "version",
          "label",
          "ownerRef",
          "billingAccountId",
          "language",
          "role",
          "suspended",
          "storage",
          "publishedTemplate",
          "resources",
          "grants",
          "roles",
          "securityCategories"
        ],
        "title": "DatabaseTree",
        "type": "object"
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "localizedMessage": {
            "type": "string"
          }
        }
      },
      "FieldTypeParametersItemsUpdateDTO": {
        "properties": {
          "id": {
            "title": "Id",
            "type": "string"
          },
          "label": {
            "title": "Label",
            "type": "string"
          }
        },
        "required": [
          "id",
          "label"
        ],
        "title": "FieldTypeParametersItemsUpdateDTO",
        "type": "object"
      },
      "FieldTypeParametersUpdateDTO": {
        "properties": {
          "units": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Units"
          },
          "inputMask": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Inputmask"
          },
          "barcode": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Barcode"
          },
          "cardinality": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Cardinality"
          },
          "range": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Range"
          },
          "formId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Formid"
          },
          "items": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/FieldTypeParametersItemsUpdateDTO"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Items"
          },
          "formula": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Formula"
          },
          "prefixFormula": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Prefixformula"
          },
          "lookupConfigs": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/TypeParameterLookupConfig"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Lookupconfigs"
          },
          "aggregation": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Aggregation"
          }
        },
        "title": "FieldTypeParametersUpdateDTO",
        "type": "object"
      },
      "FilteredPermission": {
        "properties": {
          "operation": {
            "title": "Operation",
            "type": "string"
          },
          "filter": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Filter"
          },
          "securityCategories": {
            "items": {
              "type": "string"
            },
            "title": "Securitycategories",
            "type": "array"
          }
        },
        "required": [
          "operation"
        ],
        "title": "FilteredPermission",
        "type": "object"
      },
      "FormClass": {
        "properties": {
          "id": {
            "title": "Id",
            "type": "string"
          },
          "label": {
            "title": "Label",
            "type": "string"
          },
          "schemaVersion": {
            "title": "Schemaversion",
            "type": "integer"
          },
          "databaseId": {
            "title": "Databaseid",
            "type": "string"
          },
          "parentFormId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Parentformid"
          },
          "recordLabelFieldId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Recordlabelfieldid"
          },
          "elements": {
            "items": {
              "$ref": "#/components/schemas/SchemaFieldDTO"
            },
            "title": "Elements",
            "type": "array"
          }
        },
        "required": [
          "id",
          "label",
          "schemaVersion",
          "databaseId",
          "elements"
        ],
        "title": "FormClass",
        "type": "object"
      },
      "FormResource": {
        "properties": {
          "id": {
            "title": "Id",
            "type": "string"
          },
          "type": {
            "title": "Type",
            "type": "string"
          },
          "parentId": {
            "title": "Parentid",
            "type": "string"
          },
          "label": {
            "title": "Label",
            "type": "string"
          },
          "visibility": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Visibility"
          }
        },
        "required": [
          "id",
          "type",
          "parentId",
          "label"
        ],
        "title": "FormResource",
        "type": "object"
      },
      "FormSchema": {
        "properties": {
          "id": {
            "title": "Id",
            "type": "string"
          },
          "schemaVersion": {
            "title": "Schemaversion",
            "type": "integer"
          },
          "databaseId": {
            "title": "Databaseid",
            "type": "string"
          },
          "parentFormId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Parentformid"
          },
          "label": {
            "title": "Label",
            "type": "string"
          },
          "recordLabelFieldId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Recordlabelfieldid"
          },
          "elements": {
            "items": {
              "$ref": "#/components/schemas/SchemaFieldDTO"
            },
            "title": "Elements",
            "type": "array"
          }
        },
        "required": [
          "id",
          "schemaVersion",
          "databaseId",
          "label",
          "elements"
        ],
        "title": "FormSchema",
        "type": "object"
      },
      "Grant": {
        "properties": {
          "resourceId": {
            "title": "Resourceid",
            "type": "string"
          },
          "optional": {
            "default": false,
            "title": "Optional",
            "type": "boolean"
          },
          "operations": {
            "items": {
              "$ref": "#/components/schemas/FilteredPermission"
            },
            "title": "Operations",
            "type": "array"
          },
          "conditions": {
            "items": {},
            "title": "Conditions",
            "type": "array"
          }
        },
        "required": [
          "resourceId"
        ],
        "title": "Grant",
        "type": "object"
      },
      "OwnerRef": {
        "properties": {
          "id": {
            "title": "Id",
            "type": "string"
          },
          "name": {
            "title": "Name",
            "type": "string"
          },
          "email": {
            "title": "Email",
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "email"
        ],
        "title": "OwnerRef",
        "type": "object"
      },
      "RecordUpdateDTO": {
        "properties": {
          "formId": {
            "title": "Formid",
            "type": "string"
          },
          "recordId": {
            "title": "Recordid",
            "type": "string"
          },
          "parentRecordId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Parentrecordid"
          },
          "deleted": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Deleted"
          },
          "fields": {
            "additionalProperties": true,
            "title": "Fields",
            "type": "object"
          }
        },
        "required": [
          "formId",
          "recordId",
          "fields"
        ],
        "title": "RecordUpdateDTO",
        "type": "object"
      },
      "UpdateFormRecordsDTO": {
        "properties": {
          "changes": {
            "items": {
              "$ref": "#/components/schemas/RecordUpdateDTO"
            },
            "title": "Changes",
            "type": "array"
          }
        },
        "required": [
          "changes"
        ],
        "title": "UpdateFormRecordsDTO",
        "type": "object"
      },
      "Resource": {
        "properties": {
          "id": {
            "title": "Id",
            "type": "string"
          },
          "parentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Parentid"
          },
          "label": {
            "title": "Label",
            "type": "string"
          },
          "type": {
            "title": "Type",
            "type": "string"
          },
          "visibility": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Visibility"
          },
          "icon": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Icon"
          }
        },
        "required": [
          "id",
          "parentId",
          "label",
          "type"
        ],
        "title": "Resource",
        "type": "object"
      },
      "Role": {
        "properties": {
          "id": {
            "title": "Id",
            "type": "string"
          },
          "label": {
            "title": "Label",
            "type": "string"
          },
          "permissions": {
            "items": {
              "$ref": "#/components/schemas/FilteredPermission"
            },
            "title": "Permissions",
            "type": "array"
          },
          "parameters": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "title": "Parameters",
            "type": "array"
          },
          "filters": {
            "items": {},
            "title": "Filters",
            "type": "array"
          },
          "grants": {
            "items": {
              "$ref": "#/components/schemas/Grant"
            },
            "title": "Grants",
            "type": "array"
          },
          "version": {
            "default": 0,
            "title": "Version",
            "type": "integer"
          },
          "grantBased": {
            "default": true,
            "title": "Grantbased",
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "label"
        ],
        "title": "Role",
        "type": "object"
      },
      "SchemaFieldDTO": {
        "properties": {
          "id": {
            "title": "Id",
            "type": "string"
          },
          "code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Code"
          },
          "label": {
            "title": "Label",
            "type": "string"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Description"
          },
          "relevanceCondition": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Relevancecondition"
          },
          "validationCondition": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Validationcondition"
          },
          "dataEntryVisible": {
            "default": true,
            "title": "Dataentryvisible",
            "type": "boolean"
          },
          "tableVisible": {
            "default": true,
            "title": "Tablevisible",
            "type": "boolean"
          },
          "required": {
            "title": "Required",
            "type": "boolean"
          },
          "key": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "default": false,
            "title": "Key"
          },
          "unique": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "default": false,
            "title": "Unique"
          },
          "readOnly": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "default": false,
            "title": "Readonly"
          },
          "defaultValueFormula": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Defaultvalueformula"
          },
          "type": {
            "title": "Type",
            "type": "string"
          },
          "typeParameters": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/FieldTypeParametersUpdateDTO"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          }
        },
        "required": [
          "id",
          "code",
          "label",
          "required",
          "type"
        ],
        "title": "SchemaFieldDTO",
        "type": "object"
      },
      "TypeParameterLookupConfig": {
        "properties": {
          "id": {
            "title": "Id",
            "type": "string"
          },
          "formula": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Formula"
          },
          "lookupLabel": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Lookuplabel"
          }
        },
        "required": [
          "id"
        ],
        "title": "TypeParameterLookupConfig",
        "type": "object"
      },
      "UpdateDatabaseDTO": {
        "properties": {
          "resourceUpdates": {
            "items": {
              "$ref": "#/components/schemas/Resource"
            },
            "title": "Resourceupdates",
            "type": "array"
          },
          "resourceDeletions": {
            "items": {
              "type": "string"
            },
            "title": "Resourcedeletions",
            "type": "array"
          },
          "languageUpdates": {
            "items": {
              "type": "string"
            },
            "title": "Languageupdates",
            "type": "array"
          },
          "roleUpdates": {
            "items": {
              "$ref": "#/components/schemas/Role"
            },
            "title": "Roleupdates",
            "type": "array"
          },
          "originalLanguage": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Originallanguage"
          }
        },
        "title": "UpdateDatabaseDTO",
        "type": "object"
      },
      "UpdateDatabaseTranslationsDTO": {
        "properties": {
          "strings": {
            "items": {
              "$ref": "#/components/schemas/DatabaseTranslation"
            },
            "title": "Strings",
            "type": "array"
          }
        },
        "required": [
          "strings"
        ],
        "title": "UpdateDatabaseTranslationsDTO",
        "type": "object"
      },
      "UpdateDatabaseUserRoleDTO": {
        "properties": {
          "assignments": {
            "items": {
              "$ref": "#/components/schemas/DatabaseRole"
            },
            "title": "Assignments",
            "type": "array"
          }
        },
        "required": [
          "assignments"
        ],
        "title": "UpdateDatabaseUserRoleDTO",
        "type": "object"
      },
      "UserPreflightDTO": {
        "properties": {
          "email": {
            "title": "Email",
            "type": "string"
          },
          "name": {
            "default": "",
            "title": "Name",
            "type": "string"
          },
          "locale": {
            "default": "",
            "title": "Locale",
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/DatabaseRole"
          },
          "grants": {
            "items": {},
            "title": "Grants",
            "type": "array"
          }
        },
        "required": [
          "email"
        ],
        "title": "UserPreflightDTO",
        "type": "object"
      },
      "UserPreflightResponse": {
        "properties": {
          "userId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Userid"
          },
          "activationStatus": {
            "title": "Activationstatus",
            "type": "string"
          },
          "name": {
            "title": "Name",
            "type": "string"
          },
          "addedToDatabase": {
            "title": "Addedtodatabase",
            "type": "boolean"
          },
          "validEmail": {
            "title": "Validemail",
            "type": "boolean"
          },
          "localizedErrorMessage": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null,
            "title": "Localizederrormessage"
          }
        },
        "required": [
          "activationStatus",
          "name",
          "addedToDatabase",
          "validEmail"
        ],
        "title": "UserPreflightResponse",
        "type": "object"
      },
      "FormTreeEntry": {
        "properties": {
          "id": {
            "title": "Id",
            "type": "string"
          },
          "schema": {
            "$ref": "#/components/schemas/FormSchema"
          },
          "schemaVersion": {
            "title": "Schemaversion",
            "type": "integer"
          }
        },
        "required": [
          "id",
          "schema",
          "schemaVersion",
          "permissions"
        ],
        "title": "FormTreeEntry",
        "type": "object"
      },
      "FormTree": {
        "properties": {
          "root": {
            "title": "Root",
            "type": "string"
          },
          "forms": {
            "additionalProperties": {
              "$ref": "#/components/schemas/FormTreeEntry"
            },
            "title": "Forms",
            "type": "object"
          }
        },
        "required": [
          "root",
          "forms"
        ],
        "title": "FormTree",
        "type": "object"
      },
      "QueryRowsRequest": {
        "type": "object",
        "properties": {
          "rowSources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueryRowsRowSource"
            }
          },
          "formId": {
            "type": "string"
          },
          "columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueryRowsColumn"
            }
          },
          "filter": {
            "type": "string"
          },
          "filterSets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueryRowsFilterSet"
            }
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueryRowsSort"
            }
          },
          "truncateStrings": {
            "type": "boolean"
          },
          "validation": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": true
          },
          "drafts": {
            "type": "string"
          }
        },
        "required": [
          "columns"
        ],
        "additionalProperties": true
      },
      "QueryRowsRowSource": {
        "type": "object",
        "properties": {
          "rootFormId": {
            "type": "string"
          }
        },
        "required": [
          "rootFormId"
        ],
        "additionalProperties": true
      },
      "QueryRowsColumn": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "formula": {
            "type": "string"
          },
          "expression": {
            "type": "string"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": true
      },
      "QueryRowsSort": {
        "type": "object",
        "properties": {
          "formula": {
            "type": "string"
          },
          "dir": {
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          }
        },
        "required": [
          "formula",
          "dir"
        ],
        "additionalProperties": true
      },
      "QueryRowsFilterSet": {
        "type": "object",
        "properties": {
          "columnFormula": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "columnFormula",
          "values"
        ],
        "additionalProperties": true
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}